<a href="https://colab.research.google.com/github/HashemiSM/APAC/blob/main/Level_Test.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

![alt text](https://apac.ee.kntu.ac.ir/wp-content/uploads/2024/09/apacgroup-logo.svg)

# Level Test
### Note: people who can answer this test **do not** need to attend first 50 hour of Python course

The questions will be given and you sould code in the box below

# Q1 :
calaulate the mod of three digit prime number(choose on your own) to 2 and proof that it is True

In [11]:
Prime = input('enter a three digit primr number:')

Mod_res = int(Prime)%2

if  Mod_res == 1 :
  print('OK, it is a prime number')
else:
  print('it is not a prime number')

enter a three digit primr number:502
it is not a prime number

# Q2:
code to get two string first print the type of input and then put them together(give it your name and last name)

In [12]:
first_name = input('enter yor name:')
last_name = input('enter your last name:')
n_l = first_name + " " + last_name
print (f'Hi {n_l}')

enter yor name:mohsen
enter your last name:hashemi
Hi mohsen hashemi

# Q3:
create a list with 5 member and change the the three one to Iran

In [16]:
lst = [ 'ali' , 'hadi' , 'zahra' , 'mahdi' , 'mohammad']
print(lst)
lst[0:3] = ['iran']*3
lst

['ali', 'hadi', 'zahra', 'mahdi', 'mohammad']

['iran', 'iran', 'iran', 'mahdi', 'mohammad']

# Q4:
create a dictionary with 5 member assign a b c d e to 1 to 5 and print Dictionary items

In [27]:
my_dict = {'a':1 , 'b':2 , 'c':3, 'd':4 , 'e':5}

for key, value in my_dict.items():
    print(f"{key}: {value}")

a: 1
b: 2
c: 3
d: 4
e: 5

# Q5:
Open an existing file in your computer and print last line(you can make a txt file then do it)

In [ ]:
with open('my_file.txt', 'r') as file:
    lines = file.readlines()
    if lines:  # اگر فایل خالی نبود
        last_line = lines[-1].strip()
        print("Last line:", last_line)
    else:
        print("The file is empty.")

# Q6:
Check 255 is greater than 188 and 255 is smaller than 189 in one line

In [31]:
if (255 > 188) & (255 <189):
  print("True")
else:
  print("False")

False

# Q7:
assign a your name to variable name person check it among your friends name if its true print 'HOORA'

In [36]:
the_frinds_lst = ['Ali' , 'hassan' , 'Taha', 'Reza']
your_name = input("Enter your name:")
if your_name in the_frinds_lst:
  print("Hoora!")
else:
  print('oooops!')

Enter your name:Ali
Hoora!

# Q8:
create a list 1 to 10 then check for even numbers then print all using for loops

In [49]:
import numpy as np
lst = np.arange(1,11)
for n in lst:
  if n%2 == 0:
    print(n)

2
4
6
8
10

# Q9:
consider x is 12 while x is between 10 to 15 print good else continue

In [50]:
x = 12
while True:
    if 10 <= x <= 15:
        print("good")
        break
    else:
        continue

good

# Q10:
make a list from 0 to 10000 with step of 100 using "range" shuffle this list and pick index 10

In [56]:
import random
lst = list(range(0,10000, 100))
random.shuffle(lst)
print(lst[10])

200

# Q11:
Consider list of 1 to 5 append 6 in it and count even number in it using a function

In [66]:
my_lst = [1, 2, 3, 4, 5]

def count_even(lst):
    counter = 0
    for item in lst:
        if item%2 == 0:
            counter += 1
    return counter

my_lst.append(6)
res = count_even(my_lst)

print(res)

3

# Q12:
write a function that get string and uppercase the first letter if it's capital print it's True

In [75]:
def my_f1(str_w):
  if str_w[0].isupper():
    print(f'{str_w} is TRUE!')
  else:
    upper=str_w[0].capitalize()
    return upper + str_w[ 1:]

in_str = input("a word:")
my_f1(in_str)

a word:Ali
Ali is TRUE!